@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@layer base {
  html {
    @apply 
      bg-gradient-to-br from-cyan-700 to-blue-700
    ;
  }
}